<md-toolbar class="header">
  <a [routerLink]="['/']" md-button>MidnightFund</a>

  <span class="spacer"></span>
  <button *ngIf="!auth.isAuthenticated()" md-raised-button>Try Now</button>
  <button *ngIf="!auth.isAuthenticated()" (click)="auth.login()" md-button>Sign Up / Login</button>
  <a [routerLink]="['/dashboard']" *ngIf="auth.isAuthenticated()" md-raised-button>Dashboard</a>
  <button *ngIf="auth.isAuthenticated()" (click)="auth.logout()" md-button>Sign Out</button>
</md-toolbar>

<router-outlet></router-outlet>

<md-toolbar>
  <button md-button>MidnightFund</button>
  <span class="spacer"></span>
  <a md-icon-button><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a md-icon-button><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a md-icon-button><i class="fa fa-medium" aria-hidden="true"></i></a>
</md-toolbar>
