md-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.wrapper md-spinner {
  height: auto;
  margin-top: 50px;
}

.features {
  margin-top: 50px;
}

.history {
  margin-bottom: 0;
}

form {
  margin-top: 64px;
  padding: 16px;
  background-color: #A0ACAD;
}

form button {
  width: 100%;
}

.refresh-button {
  margin: auto;
  display: block;
}

h3 {
  margin-bottom: 0;
  font-size: 30px;
}

.portfolio-value {
  font-size: 70px;
}

.no-coins {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width: 800px) {
  h3 {
    margin-top: 60px;
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  form {
    margin-top: 56px;
  }

  .portfolio-value {
    font-size: 50px;
  }
}

#doughnutChart {
  width: 100% !important;
  height: auto !important;
}

#lineChart {
  width: 100% !important;
  height: auto !important;
}
