form {
  margin-top: 64px;
  padding: 16px;
  background-color: #A0ACAD;
}

form button {
  width: 100%;
}

@media (max-width: 600px) {
  form {
    margin-top: 56px;
  }
}

canvas {
  width: 100% !important;
  /*max-width: 800px;*/
  height: auto !important;
}
