<form class="row" (ngSubmit)="addCoin()">
  <div class="column1">
    <md-form-field>
      <input mdInput placeholder="Add Coin" [mdAutocomplete]="auto" [formControl]="addCoinObject.controls['coin']" (ngModelChange)="coinChange($event)">
      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let coin of filteredCoins | async" [value]="coin.name">
          {{ coin.name + ' $' + coin.price_usd }}
        </md-option>
      </md-autocomplete>
    </md-form-field>
  </div>
  <div class="column1">
    <md-form-field *ngIf="validCoin">
      <input mdInput placeholder="How much {{ addCoinObject.get('coin').value }} do you have?" [formControl]="addCoinObject.controls['amount']" [textMask]="{ mask: numberMask }">
    </md-form-field>
  </div>
  <div class="column1 button-align">
    <button md-raised-button color="primary" *ngIf="addCoinObject.get('coin').valid && addCoinObject.get('amount').valid">Add</button>
  </div>
</form>

<ng-container *ngIf="assets.length && !loading">
  <h1>Your assets</h1>

  <p *ngFor="let asset of assets">{{ asset.amount }} {{ asset.coin }} ({{ asset.value | currency:'USD':true }}) <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteCoin(asset)"></i></p>

  <h1>Portfolio</h1>

  <p>Portfolio Value: {{ portfolioValue | currency:'USD':true }}</p>

</ng-container>
