<form class="row" (ngSubmit)="addCoin()">
  <div class="column1 column-margin">
    <md-form-field>
      <input mdInput placeholder="Add a Coin" [mdAutocomplete]="auto" [formControl]="addCoinObject.controls['coin']" (ngModelChange)="coinChange($event)">
      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let coin of filteredCoins | async" [value]="coin.name">
          {{ coin.name + ' $' + coin.price_usd }}
        </md-option>
      </md-autocomplete>
    </md-form-field>
  </div>
  <div class="column1 column-margin">
    <md-form-field *ngIf="validCoin">
      <input mdInput placeholder="How much {{ addCoinObject.get('coin').value }} do you have?" [formControl]="addCoinObject.controls['amount']" [textMask]="{ mask: numberMask }">
    </md-form-field>
  </div>
  <div class="column1 column-margin button-align">
    <button md-raised-button color="primary" *ngIf="validCoin && addCoinObject.get('amount').value * 1 !== 0">Add</button>
  </div>
</form>

<div class="wrapper" *ngIf="assets.length && !loading">
  <div class="row">
    <div class="column1">
      <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
        [colors]="bidDistributionStatColors"
        [options]="options">
      </canvas>
      <p *ngFor="let asset of assets" class="text-center" [ngStyle]="{'color': asset.color}">{{ asset.amount }} {{ asset.coin }} ({{ asset.value | currency:'USD':true }})<button md-icon-button (click)="deleteCoin(asset)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></p>

      <button md-button (click)="updateCoins()" class="refresh-button"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh Coins</button>
    </div>
    <div class="column2">
      <h3>Portfolio Value</h3>
      <h1 class="portfolio-value">{{ portfolioValue | currency:'USD':true }}</h1>
    </div>
  </div>
</div>
<div class="wrapper no-coins" *ngIf="!assets.length && !loading">
  <h1>Welcome to your coin tracker!</h1>
  <p>Add a coin, followed by the amount you have to see your dashboard come to life!</p>
</div>
