/* You can add global styles to this file, and also import other style files */

/* Globals */

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  /*background: #272727;*/
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p, button, a, input, label {
  font-size: 20px !important;
}

input.mat-input-element {
    margin-top: .2em;
}

.mat-form-field {
  line-height: inherit;
}

button {
  line-height: 40px;
}

.button-align {
  align-self: center;
}

img {
  width: 100%;
}

.full-width {
  width: 100%;
}

i.fa {
  width: 24px;
}

.mat-icon-button .mat-button-wrapper>* {
  vertical-align: unset !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Header */

.spacer {
  flex: 1 1 auto;
}

/* Main */




/* Footer */



/* Grid */

.wrapper {
  margin: 16px;
}

.row {
  display: flex;
}

.column1 {
  flex: 1;
}

.column2 {
  flex: 2;
}

.column-margin {
  margin-left: 16px;
  margin-right: 16px;
}

.column-margin:first-child {
  margin-right: 16px;
  margin-left: 0;
}

.column-margin:last-child {
  margin-left: 16px;
  margin-right: 0;
}

/* Material Overrides */

md-form-field {
  width: 100% !important;
}

/* Auth0 Overrides */

.auth0-lock-input {
  font-size: 16px !important;
}

/* Break Points */

@media (max-width: 800px) {
  .row {
    display: block;
  }

  .column-margin {
    margin: 0 !important;
  }
}
