/* You can add global styles to this file, and also import other style files */

.auth0-lock-input {
  font-size: 16px !important;
}

.spacer {
  flex: 1 1 auto;
}

.row {
  display: flex;
  align-items: baseline;
}

.column1 {
  flex: 1;
}

md-form-field {
  width: 100% !important;
}


@media (max-width: 800px) {
  .row {
    display: block;
  }
}
