.intro-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

.intro-text {
  text-align: center;
}

.intro-text h1, .intro-text p {
  color: #FAFAFA;
}

.crypto-tracker {
  background-color: #465C69;
}

.crypto-tracker h2, .crypto-tracker p {
  color: #FAFAFA;
}

.crypto-tracker .column1 {
  padding: 40px;
}

.fund {
  padding: 40px;
  text-align: center;
  background-color: #A0ACAD;
}

.fund h2, .fund p {
  color: #FAFAFA;
}

.trading-ai {
  background-color: #FAFAFA;
}

.trading-ai > .row > .column1 {
  padding: 40px;
}
