<div class="intro-background">
  <div class="intro-text">
    <h1>Keep Track of Your Crypto</h1>
    <button md-raised-button>Try Our Free Crypto Tracker!</button>
    <p>(free with no ads and always will be :)</p>
  </div>
</div>
<div class="crypto-tracker">
  <div class="row">
    <div class="column1">
      <img src="https://support.coinbase.com/customer/portal/attachments/465759" alt="">
    </div>
    <div class="column1">
      <h2>Managing your crypto in multiple exchanges sucks!</h2>
      <p>We built a beauitful dashboard to display all your crypto assets so you can easily see the value of your crypto portfolio.</p>
      <button md-raised-button>Try Now</button>
    </div>
  </div>
</div>
<div class="fund">
  <h2>Join the waiting list for our crypto fund</h2>
  <p>(Goes Live Mid 2018)</p>
  <div class="row">
    <div class="column2">
      <md-form-field>
        <input mdInput placeholder="Your Email">
      </md-form-field>
    </div>
    <div class="column1">
      <button md-raised-button class="full-width">Join</button>
    </div>
  </div>
</div>
<div class="trading-ai">
  <div class="row">
    <div class="column1">
      <h2>In the Works: Trading AI</h2>
      <p>We are developing an automated trading algorithm that buys and sells to maximize profits.</p>
    </div>
    <div class="column1">
      <img src="http://50000feet.com/sites/default/files/50k_ai_03.gif" alt="">
    </div>
  </div>
</div>
