<div class="intro-background">
  <div class="intro-text">
    <h1>Keep Track of Your Crypto</h1>
    <button md-raised-button>Try Our Crypto Tracker!</button>
    <p>(free with no ads :)</p>
  </div>
</div>
<div class="crypto-tracker">
  <div class="row">
    <div class="column1">
      <img src="https://j.gifs.com/BLrVox.gif" alt="">
    </div>
    <div class="column1">
      <h2>Managing your crypto in multiple exchanges sucks!</h2>
      <p>We built a beauitful dashboard so you can track all of your cryptocurency in one place.</p>
      <button md-raised-button>Try Now</button>
    </div>
  </div>
</div>
<div class="fund">
  <h2>We Are Also Starting a Crypto Fund!</h2>
  <p>Join the waiting list for our crypto fund (Goes Live Mid 2018)</p>
  <div class="row">
    <div class="column2 column-margin">
      <md-form-field>
        <input mdInput placeholder="Your Email">
      </md-form-field>
    </div>
    <div class="column1 column-margin button-align">
      <button md-raised-button class="full-width">Join</button>
    </div>
  </div>
</div>
<div class="trading-ai">
  <div class="row">
    <div class="column1">
      <h2>Trading AI</h2>
      <p>We are developing an automated trading algorithm that buys and sells to maximize profits.</p>
      <p>Join the waiting list for our Trading AI<br>(Goes Live Early 2018)</p>
      <div class="row">
        <div class="column2 column-margin">
          <md-form-field>
            <input mdInput placeholder="Your Email">
          </md-form-field>
        </div>
        <div class="column1 column-margin button-align">
          <button md-raised-button class="full-width" color="primary">Join</button>
        </div>
      </div>
    </div>
    <div class="column1">
      <img src="http://50000feet.com/sites/default/files/50k_ai_03.gif" alt="">
    </div>
  </div>
</div>
